In [2]:
from ipstartup import *
from sqlite3 import connect
import json
from pandas.io.json import json_normalize
con = connect("c:/users/simon/onedrive/documents/py/live/enzo/rasa.db")
cur = con.execute("SELECT * from events")
cur.fetchall()
""

[cellevents:43:INFO]:starting (time=Jan-14 11:50 MainProcess)

''

time: 15.4 ms

In [3]:
df = pd.read_sql("select *from events", con)
df2 = pd.concat([json_normalize(json.loads(js)) for js in df['data']])
df3 = df2[df2.event.isin(["user", "bot"])][["event", "text"]]
df3

[cellevents:43:INFO]:starting (time=Jan-14 11:50 MainProcess)

  event                    text
0  user                      hi
0   bot  Hello! How can I help?

time: 642 ms